a {
    text-decoration: none;
    color: black;
}

#page {
    display: grid;
    grid-template-columns: 250px 1fr;
}

h1 {
    text-align: center;
    border-bottom: 2px gray solid;
    margin: 0;
    padding: 20px;
}

#list {
    border-right: 2px gray solid;
}

body {
    margin: 0;
}

#info {
    padding-left: 20px;
    padding-top: 20px;
}

@media(max-width :700px) {
    #page {
        display: block;
    }

    #list {
        border-right: none;
    }

    h1 {
        border-bottom: none;
        text-align: left;
        padding-bottom: 0;
    }
}